body {
  background-color: rgb(223, 230, 231);
}
.flightsScreen {
  padding: 3% 10%;
  .bluePlane {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  .flightsLists {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding: 20px;
    
  }
}
